E2E_BASE_URL=http://localhost:8080
E2E_PATIENT_EMAIL=patient@example.com
E2E_PATIENT_PASSWORD=changeme
E2E_DOCTOR_EMAIL=doctor@example.com
E2E_DOCTOR_PASSWORD=changeme
# E2E_NEW_SIGNUP_EMAIL=signup+manual@ayuzee-test.dev
